<%= form_for @incident, :html => { :class => "form-horizontal incident" } do |f| %>

    <% if @incident.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @incident.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :incident_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :incident_type_id, options_for_select(@incident_types), :class => 'form-control' %>
    </div>
    <%= error_span(@incident[:incident_type_id]) %>
  </div>

  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%= error_span(@incident[:address]) %>
  </div>

  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :date, :class => 'form-control' %>
    </div>
    <%= error_span(@incident[:date]) %>
  </div>

  <div class="control-group">
    <%= f.label :time, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_field :time, :class => 'form-control' %>
    </div>
    <%= error_span(@incident[:time]) %>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@incident[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :anonymous, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :anonymous, {:class => 'checkbox'}, "true", "false" %>
    </div>
    <%= error_span(@incident[:anonymous]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            incidents_path, :class => 'btn btn-default' %>

<% end %>
