<h1>Listing incident_types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incident_types.each do |incident_type| %>
      <tr>
        <td><%= incident_type.description %></td>
        <td><%= link_to 'Show', incident_type %></td>
        <td><%= link_to 'Edit', edit_incident_type_path(incident_type) %></td>
        <td><%= link_to 'Destroy', incident_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident type', new_incident_type_path %>
