<p id="notice"><%= notice %></p>

<p>
  <strong>Incident:</strong>
  <%= @support.incident %>
</p>

<p>
  <strong>User:</strong>
  <%= @support.user %>
</p>

<%= link_to 'Edit', edit_support_path(@support) %> |
<%= link_to 'Back', supports_path %>
