<%= form_for @establishment, :html => { :class => "form-horizontal establishment" } do |f| %>

    <% if @establishment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@establishment.errors.count, "error") %> prohibited this establishment from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @establishment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%= error_span(@establishment[:address]) %>
  </div>
  <div class="control-group">
    <%= f.label :lat, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lat, :class => 'form-control' %>
    </div>
    <%= error_span(@establishment[:lat]) %>
  </div>
  <div class="control-group">
    <%= f.label :lng, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lng, :class => 'form-control' %>
    </div>
    <%= error_span(@establishment[:lng]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            establishments_path, :class => 'btn btn-default' %>

<% end %>
