<!DOCTYPE html>
<html>
<head>
  <title>Marque Denuncia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= nav_bar :static => :top, :brand => 'Marque Denúncia', :responsive => true do %>
    <%= menu_group do %>
      <%= menu_item "Users", users_path %>
      <%= menu_item "About us", welcome_about_url %>
    <% end %>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
    </div>
  </div>

</body>
</html>
