<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'md-pointer.ico'%>
  <title>Marque Denuncia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'metro', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= nav_bar :fixed => :top, :brand => image_tag('md-logo-name.png'), :responsive => true do %>

    <%= menu_group :pull => :right do %>
        <% if user_signed_in? %>
          <%= menu_text "Signed in as #{current_user.first_name}" %>
          <%= menu_item "Administration", rails_admin.dashboard_path if current_user.admin? %>
          <%= menu_item "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= menu_item "Join Us", new_user_registration_path %>
          <%= menu_item "Sign in", new_user_session_path %>
        <% end %>
    <% end %>

  <% end %>

  <div class="container">
    <div class="row">
      <%= bootstrap_flash %>
      <div class="span9"><%= yield %></div>
    </div>
    <p></p>
  </div>
  <footer class="footer">
    <div class="container">
      <div class='clique pull-left'>
        <p>Conheça o:</p>
        <%= link_to image_tag('clique180-logo.png'),'http://clique180.org.br/' %>
      </div>
      <div class='pull-right'>
        <p>
          <a href='#'>Políticas de privacidade</a>
        </p>
        <p>
          <a href='#'>Sobre o Marque Denúncia</a>
        </p>
      </div>
    </div>
  </footer>

</body>
</html>
